# if you add things in this file please also update the wiki article about pelican: https://github.com/aexeagmbh/salt-shaker/wiki/Pelican#step-13-create-additional-files

pelican/output
pelican/cache
pelican/__pycache__
*.pid
*.pyc
*.swp
.ropeproject
# Created by https://www.gitignore.io

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

